  :root {
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #9b9b9b;
    --blue: #4d94ff;
  }

  html {
    height: 100%;
  }

  body {
    background-color: #333;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family:'Roboto',sans-serif;
    position: relative;
  }

  input {
    font-family:'Roboto',sans-serif;
    width: 30%;
    border: 0;
    border-bottom: 2px solid var(--blue);
    outline: 0;
    font-size: 1.0rem;
    color: var(--white);
    padding:0.35em 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  ::placeholder {
    color: transparent;
  }

  .songentry:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary),var(--secondary));
    border-image-slice: 1;
  }

  .artistentry:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary),var(--secondary));
    border-image-slice: 1;
  }
 
  .songentry {
    position: absolute;
    top:  100px;
    left:  100px;
  }

  .songtext {
    color: white;
    position: absolute;
    top:  50px;
    left:  100px;
  }

  .artistentry {
    position: absolute;
    top:  100px;
    left:  550px;
  }

  .artisttext {
    color: white;
    position: absolute;
    top:  50px;
    left:  550px;
  }

  .langentry {
    position: absolute;
    top:  100px;
    left:  1000px;
  }

  .langtext {
    color: white;
    position: absolute;
    top:  50px;
    left:  1000px;
  }

  .go {
    background-color: #333;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: 1.0rem;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    position: absolute;
    top:  100px;
    left:  1200px;
  }
  .go:hover{
    color:#000000;
    background-color:#FFFFFF;
  }
  @media all and (max-width:30em){
    .go{
      display:block;
      margin:0.4em auto;
    }
  }

  .lyrics {
    color: white;
    position: absolute;
    top:  200px;
    left:  150px;
  }

  .t_lyrics {
    color: white;
    position: absolute;
    top:  200px;
    left:  700px;
  }

  select {
    font-family:'Roboto',sans-serif;
    font-size: 1.0rem;
    width: 13%;
    padding:0.35em 0;
    border: none;
    border-radius: 6px;
    background-color: #f1f1f1;
  }
  
